* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(215, 0%, 100%);
    font-family: arial, helvetica, sans-serif; 
}

main {
    max-width: 900px;
    margin: 0 auto;
}

header {
    overflow: auto;
    background-color: hsl(214, 55%, 61%);
    margin-bottom: 2em;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    padding: .3em 0;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 3em;
}

table {
    clear: both;
    border-collapse: collapse;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: blue;
}


th, td {
    border: 1px solid black;
}

th[colspan="1"], td[colspan="1"]  {
    width: 50%;
}

th {
    font-family: 'Share Tech Mono', monospace;
    padding: .5em 0;
    background-color: hsl(16, 82%, 66%);
    font-size: .9em;
}

td {
    padding: 2em;
    background-color: hsl(16, 82%, 96%);
}

.list {
    list-style-type: circle;
}

.review {
    margin-bottom: 1.5em;
    border: 1px solid black;
    padding: 1em;
    background-color: white;
}
.review:last-child {
    margin-bottom: 0;
}

#banner {
    width: 100%;
    border-bottom: 1px solid black;
}

#language {
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: hsl(57, 90%, 100%);
}

#reviews h3 {
    padding-bottom: .2em;
    font-size: 1.1em;
}

#reviews p {
    font-style: italic;
}


